:root {
    --accent-color: #EA3223;

    --header-height: 66px;
    --header-margin-top: 20px;
    --header-height-with-spacings: calc(var(--header-margin-top) + var(--header-height) + 42px);
}

body {
    padding-top: var(--header-height-with-spacings);
}

body>section {
    position: relative;
    z-index: 1;
}


/* Header */
/* .header {
    border-radius: 24px;
    padding: 0 32px 0 24px;
    display: flex;
    align-items: center;
    width: auto;
    height: 66px;
    justify-content: space-between;
    background-color: #EA3223;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 999;
    white-space: nowrap;
    margin: 20px auto;
    max-width: 1350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

a {
    text-decoration: none;
    color: white;
}

.header__logo img {
   position: relative;
   height: 47px;
   width: auto;
}

.logo-text {
    font-size: 18px;
    margin-right: 10px;
    font-weight: 600;
    line-height: 24px;
}

.header__nav {
    text-decoration: none;
    height: 23px;
    flex-grow: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.header__nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    gap: 64px;
}

.header__nav li {
    margin: 0;
    
    gap: 10px;

}

.nav-button {
    background: none;
    border: none;
    font-size: 17px;
    height: 40px;
    cursor: pointer;
    border-radius: 12px;
}

.nav-button:hover {
    background-color: white;
}

.nav-button.active {
    background-color: white;
    font-weight: 500;
}
.nav-button:hover a {
    color: #EA3223;
}
.header__phone{
    display: none;
}

@media screen and (max-width:996px) {
    .nav_text {
        display: block;
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
    }

    .header__phone{
        display: block;
        color: white;
        font-size: 14px;
    }
    .header__logo img {
        height: 48px;
        padding: 0;
        width: 120px;

    }

    .header {
        display: flex;
        justify-content: space-between;
        padding: 8px 12px;
        top: 0;
        z-index: 9999;
        width: auto;
        height: 64px;
        position: sticky;
        overflow: hidden;
        margin: 54px 16px 24px 16px;
    }

    .logo-text {
        display: none;
    }

    .header__nav {
        display: none;
    }

    .sidebar.open {
        right: 0;


    }
} */

/* Header */
.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    padding-top: var(--header-margin-top);
    padding-bottom: 64px;
}

.header {
    background-color: var(--accent-color);
    margin-right: -24px;
    margin-left: -24px;
    border-radius: 24px;
    padding-left: 24px;
    padding-right: 24px;
    height: var(--header-height);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    height: 48px;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__menu-item {
    margin-left: 40px;
    border-radius: 8px;
    padding: 8px 12px;

    color: #fff;
    text-decoration: none;

    transition: 0.3s;
}

.header__menu-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

@media screen and (max-width: 991px) {
    .header {
        margin: 0;
    }
}


.btn-primary {
    font-size: 20px;
    background-color: #EA3223;
    width: auto;
    border-radius: 12px;
    border: none;
    height: 45px;
    display: flex;
    gap: 10px;
}

.btn {
    width: 149px;
    display: flex;
}

.btn-primary img {
    padding: 4px 0 0 0;
    display: flex;


}

/* .icon--rounded {
    border-radius: 24px;
}

.card__image_bottom{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.icon--rounded-bottom {
    border-radius: 0 0 24px 24px;
    width: 100%;
    

    
}

.card_info{
flex-grow: 1;
display: flex;
flex-direction: column;
gap: 20px;
padding: 0 0 0 24px;
}

.card__content {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 600px;
}

.card {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding: 0 0 42px 0;
}

.card__image img{
    position: relative;
    width: 100%;
    border-radius: 24px;
}
.card__text{
    display: flex;
    text-align: center;
    line-height: 25.8px;
}
.card_intro_img{
    display: none;
}
.container__intro{
    display: block;
}
.card__mobile_image_bottom{
    display: none;
}
@media screen and (max-width:996px) {
    .container{
        margin: 24px 0 16px 0;
        max-width: 100%;
    }
    .card_intro_img{
        display: block;
        width:auto;
        height: auto;
        border-radius: 18px;

    }
    .main-container{
        margin:0 16px;
    }
    .container__intro{
        height: auto;
        box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
        z-index: -1;
        border-radius: 24px 24px 0 0;
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 12px;
    }
    .col-12{
        padding:0 !important;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    
    .card_info{
        padding: 0;
    }

    .icon--rounded{
        width:48px;
        height: 48px;
        border-radius: 12px;
    }
    h2{
        display:inline;
        font-size: 28px !important;
        line-height: 35px !important;
    }
    p{
        font-size: 16px;
    }
    .card__text{
        display: none;
    }
    .card__image_bottom{
        display: none;
    }
    .card__mobile_image_bottom{
        display: block;
        
    }
    .card__content{
        display: flex;
        flex-direction: column;
    }
    .card__image{
        display: none;
    }
} */
/* Intro */
.intro {
    height: 600px;
    border-radius: 24px;
    overflow: hidden;

    display: flex;
    align-items: stretch;
}

.intro__content {
    position: relative;
    z-index: 2;

    background-color: #fff;
    width: 45%;
    border-radius: 24px;
    padding: 24px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: start;

    box-shadow: 4px 0 16px rgba(0, 0, 0, 0.1);
}

.intro__icon {
    width: 76px;
    height: 76px;
    border-radius: 24px;
}

.intro__space {
    flex: 1;
}

.intro__line {
    width: calc(100% + 48px);
    margin: -24px;
}

.intro__swiper {
    position: relative;
    z-index: 1;

    width: calc(55% + 24px);
    margin-left: -24px;
}

.intro__swiper .swiper {
    width: 100%;
    height: 100%;
}

.intro__swiper .swiper-pagination {
    bottom: 32px;

    padding-right: 40px;

    text-align: right;
}

.intro__swiper .swiper-pagination-bullet {
    background-color: #fff;
    width: 24px;
    height: 12px;
    border-radius: 12px;

    opacity: 1;
    transition: background-color 0.5s, width 0.5s;
}

.intro__swiper .swiper-pagination-bullet-active {
    background-color: var(--accent-color);
    width: 48px;
}

.slide {
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.card__mobile_image_bottom {
    display: none;
}

@media screen and (max-width: 991px) {
    .intro {
        flex-direction: column-reverse;
        height: auto;
    }

    .intro__content {
        width: 100%;
    }

    .intro__line {
        margin-top: 24px;
    }

    .intro__swiper {
        width: 100%;
        height: 50vh;
        margin: 0;
        margin-bottom: -24px;
    }
}

.custom-col {
    max-width: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.custom-col-padding {
    padding: 140px 64px 140px 0px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.icon {
    width: 50px;
    height: 50px;
}

.red-background {
    background-color: #EA3223;
    color: #fff;
    border-radius: 200px 0 200px 200px;
}

.red-background-p {
    color: #FFA69E;
    margin: 0;
}

.white-icon {
    filter: brightness(0) invert(1);
}

.white-button {
    background-color: white;
    border-color: white;
    color: #EA3223;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    color: #737373;
}

.card__content__text {
    position: relative;
    z-index: 2;
    background-color: #fff;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    padding: 24px;


}

.news-item.red {
    padding: 146px 63px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news-item__title {
    line-height: 50px;
    margin: 0;
}

.row {
    padding: 0 0 76px 0;
    display: flex;
    margin: 0;
    justify-content: space-between;

}

@media screen and (max-width: 996px) {
    .row {
        flex-direction: column;
        align-items: center;
        padding: 0 0 38px 0;
    }

    .col-6 {
        width: 100%;
        max-width: none;
    }

    .custom-col {
        max-width: none;
    }

    .custom-col-padding {
        padding: 0;
    }

    .news-item {
        padding: 40px 20px;
    }

    .news-item.red {
        padding: 40px 20px;
    }

    .red-background {
        border-radius: 0 60px 32px 32px;
    }

    .white-button {
        border-radius: 100px;
    }

    .row:nth-child(2) .col-6:first-child {
        order: 2;
    }

    .row:nth-child(2) .col-6:last-child {
        order: 1;
    }


    .icon {
        display: none;
    }
}
